
/* лучи rays на сцене крутятся по кругу в бесконечном экстазе  */

img.rays {
animation: 20s linear 2s normal none infinite running rays;
-webkit-animation: 20s linear 2s normal none infinite running rays;
-o-animation: 20s linear 2s normal none infinite running rays;
-ms-animation: 20s linear 2s normal none infinite running rays;
-moz-animation: 20s linear 2s normal none infinite running rays;
}
@keyframes rays { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
@-webkit-keyframes rays { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
@-o-keyframes rays { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
@-ms-keyframes rays { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
@-moz-keyframes rays { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }


/* появляющийся текст */

div.col1 {
animation: 2s linear 0s 1 running fadein;
-webkit-animation: 2s linear 0s 1 running fadein;
-o-animation: 2s linear 0s 1 running fadein;
-ms-animation: 2s linear 0s 1 running fadein;
-moz-animation: 2s linear 0s 1 running fadein;
}
@keyframes fadein { from { opacity: 0 } to { opacity: 100 } }
@-webkit-keyframes fadein { from { margin-right: 100%; } to { margin-right: 0; } }
@-o-keyframes fadein { from { margin-right: 100%; } to { margin-right: 0; } }
@-ms-keyframes fadein { from { margin-right: 100%; } to { margin-right: 0; } }
@-moz-keyframes fadein { from { margin-right: 100%; } to { margin-right: 0; } }


/* проявляющаяся вывеска */

img.badge {
animation: 2s linear 0s 1 running fadein;
-webkit-animation: 1s linear 0s 1 running fadein;
-o-animation: 2s linear 0s 1 running fadein;
-ms-animation: 2s linear 0s 1 running fadein;
-moz-animation: 2s linear 0s 1 running fadein;
}
/* /////////////////// */
/* муравьи прыгают, беснуются */

img.ants {
animation: 2s linear 10s 1 running up-down;
-webkit-animation: 2s linear 0s 1 running up-down;
-o-animation: 2s linear 0s 1 running up-down;
-ms-animation: 2s linear 0s 1 running up-down;
-moz-animation: 2s linear 0s 1 running up-down;
}

/* @keyframes up-down {
    0% {padding-top: 0px}
    50% {padding-top: 100px}
    100% {padding-top: 200px}
} */

@keyframes up-down {
  0% {left:0px; top:0px;}
  25% {left:100px; top:0px;}
  50% {left:100px; top:100px;}
  75% {left:0px; top:100px;}
  100% {left:0px; top:0px;}
}

/* правый музыкант качается*/

img.left-dude {
animation: 1s linear 0.3s normal none infinite running  naklon;
transform-origin: 360px 900px;
/* animation: 20s linear 2s normal none infinite running rays; */

}
@keyframes naklon {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(-15deg); }
  100% { transform: rotate(0deg); }
}

/* левый музыкант качается*/

img.right-dude {
animation: 1s linear 0.3s normal none infinite running  naklon2;
transform-origin: 380px 730px;
/* animation: 20s linear 2s normal none infinite running rays; */

}
@keyframes naklon2 {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(15deg); }
  100% { transform: rotate(0deg); }
}
